<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Document Update</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="documentForm" *ngIf="documentForm">
      <div class="mb-3">
        <input
          class="form-control"
          type="file"
          (change)="onChange($event)"
          style="display:none;"
          id="file"
        />
        <label for="file" class="btn btn-outline-info btn-sm">Click Upload file</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      pButton
      pRipple
      type="button"
      label="Save"
      (click)="update()"
      class="p-button p-button-primary p-button-sm"
    ></button>
  </div>
</ng-template>
<button pButton pRipple type="button" icon="pi pi-pencil" (click)="open(content)"
class="p-button-rounded p-button-info p-button-sm"></button>
