<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Document Update</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="documentForm" *ngIf="documentForm">
      <div class="mb-3">
        <input
          class="form-control"
          type="file"
          (change)="onChange($event)"
          style="display:none;"
          id="file"
        />
        <label for="file" class="btn btn-outline-info btn-sm">Click Upload file</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="update()">
      Save
    </button>
  </div>
</ng-template>
<button class="btn btn-outline-info btn-sm" (click)="open(content)">Update</button>
