<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Document Create</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="documentForm" *ngIf="documentForm">
      <div class="mb-3">
        <!-- <label for="file">File</label>
        <p-fileUpload
          mode="basic"
          (onSelect)="onChange($event)"
          [style]="{ width: '100%' }"
        ></p-fileUpload> -->
        <label for="file">File</label>
        <input
          class="form-control"
          type="file"
          (change)="onChange($event)"
          id="file"
        />
      </div>
      <div class="mb-3">
        <label for="file">Folder</label>
        <p-dropdown
          [options]="folders"
          formControlName="folderId"
          placeholder="Select Folder"
          [style]="{ width: '100%' }"
          optionLabel="name"
          optionValue="folderId"
          [showClear]="true"
        >
        </p-dropdown>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      pButton
      pRipple
      type="button"
      label="Save"
      icon="pi pi-save"
      (click)="save()"
      class="p-button p-button-primary p-button-sm"
    ></button>
  </div>
</ng-template>
<button
  pButton
  pRipple
  type="button"
  label="Add"
  icon="pi pi-plus"
  (click)="open(content)"
  class="p-button p-button-primary p-button-sm"
></button>
