<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Folder Create</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="documentForm" *ngIf="documentForm">
      <div class="mb-3">
        <label for="file">File</label>
        <input
          class="form-control"
          type="file"
          (change)="onChange($event)"
          id="file"
        />
      </div>
      <div class="mb-3">
        <label for="folderId">Select Folder</label>
        <select
          class="form-control"
          formControlName="folderId"
          id="folderId"
        >
        <option [value]="0">
          Root Folder
        </option>
          <option *ngFor="let folder of folders" [value]="folder.folderId">
            {{ folder.name }}
          </option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="save()">
      Save
    </button>
  </div>
</ng-template>
<button class="btn btn-primary btn-sm" (click)="open(content)">
   Add
</button>
