<div class="container" style="padding-top: 2rem; padding-bottom: 20%">
  <app-alfresco-create-folder></app-alfresco-create-folder>
  <br />
  <br />
  <p-confirmDialog
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
  ></p-confirmDialog>
  <p-treeTable [value]="folders" [columns]="cols">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Expand</th>
        <th>Name</th>
        <th colspan="2">Settings</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-rowNode
      let-rowData="rowData"
      let-columns="columns"
    >
      <tr>
        <td>
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        </td>
        <td>
         <i class="pi pi-folder"></i> {{ rowData.name }}
        </td>
        <td>
          <app-alfresco-update-folder
            [id]="rowData.folderId"
          ></app-alfresco-update-folder>
        </td>
        <td>
          <button
            pButton
            pRipple
            (click)="delete(rowData.folderId)"
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>

