<div class="container" style="padding-top: 2rem; padding-bottom: 20%">
  <app-alfresco-create-folder></app-alfresco-create-folder>
  <br />
  <br />
  <p-confirmDialog
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
  ></p-confirmDialog>
  <p-treeTable [value]="folders" [columns]="cols">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Expand</th>
        <th>Name</th>
        <th colspan="2">Settings</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-rowNode
      let-rowData="rowData"
      let-columns="columns"
    >
      <tr>
        <td>
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        </td>
        <td>
         <i class="pi pi-folder"></i> {{ rowData.name }}
        </td>
        <td>
          <app-alfresco-update-folder
            [id]="rowData.folderId"
          ></app-alfresco-update-folder>
        </td>
        <td>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger"
            (click)="showConfirm(rowData.folderId)"
          ></button>
          <div style="text-align: center">
            <p-toast
              position="bottom-center"
              key="c"
              (onClose)="onReject()"
              [baseZIndex]="5000"
            >
              <ng-template let-message pTemplate="message">
                <div class="p-flex p-flex-column" style="flex: 1">
                  <div class="p-text-center">
                    <i
                      class="pi pi-exclamation-triangle"
                      style="font-size: 3rem"
                    ></i>
                    <h4>{{ message.summary }}</h4>
                    <p>{{ message.detail }}</p>
                  </div>
                  <div class="row">
                    <div class="col-8 offset-2">
                      <button
                        style="margin-right: 0.5rem; width: 40%"
                        type="button"
                        pButton
                        (click)="delete(message.id)"
                        label="Yes"
                        class="p-button-success"
                      ></button>
                      <button
                        style="margin-left: 0.5rem; width: 40%"
                        type="button"
                        pButton
                        (click)="onReject()"
                        label="No"
                        class="p-button-secondary"
                      ></button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-toast>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>
