<button
  (click)="showModalDialog()"
  pButton
  pRipple
  type="button"
  label="Add"
  icon="pi pi-plus"
  class="p-button p-button-primary p-button-sm"
></button>
<p-dialog
  header="Folder Create"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '50vw',height: '70vh' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <form [formGroup]="folderForm" *ngIf="folderForm">
    <br />
    <div class="mb-3">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-folder"></i></span>

        <span class="p-float-label">
          <input
            id="float-input"
            type="text"
            pInputText
            formControlName="name"
          />
          <label for="float-input">Folder name</label>
        </span>
      </div>
    </div>
    <br />
    <div class="mb-3">
      <span class="p-float-label">
        <p-dropdown
          inputId="dropdown"
          [autoDisplayFirst]="false"
          [options]="folders"
          formControlName="parentFolderId"
          [style]="{ width: '100%' }"
          optionValue="folderId"
          optionLabel="name"
        >
        </p-dropdown>
        <label for="dropdown">Parent folder</label>
      </span>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      type="button"
      label="Save"
      icon="pi pi-save"
      (click)="save()"
      class="p-button p-button-primary p-button-sm"
    ></button>
  </ng-template>
</p-dialog>
