<ng-template #content let-modal>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="downloadForm" *ngIf="downloadForm">
      <div class="mb-3">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-file"></i></span>
          <input
            type="text"
            formControlName="name"
            pInputText
            placeholder="File name"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-download"
      label="Download"
      (click)="download()"
      class="p-button p-button-success p-button-sm"
    ></button>
  </div>
</ng-template>

<button
  pButton
  pRipple
  type="button"
  icon="pi pi-download"
  (click)="open(content)"
  class="p-button-rounded p-button-success p-button-outlined"
></button>
