<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Folder Update</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="folderForm" *ngIf="folderForm">
      <div class="mb-3">
        <label for="name">Folder Name</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-folder"></i></span>
          <input
            type="text"
            [(ngModel)]="folder.name"
            formControlName="name"
            pInputText
            placeholder="Folder name"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      pButton
      pRipple
      type="button"
      label="Save"
      icon="pi pi-save"
      (click)="update()"
      class="p-button p-button-primary p-button-sm"
    ></button>
  </div>
</ng-template>
<button
  pButton
  pRipple
  type="button"
  icon="pi pi-pencil"
  (click)="open(content)"
  class="p-button-rounded p-button-info p-button-sm"
></button>
