<button
  (click)="showModalDialog()"
  pButton
  pRipple
  type="button"
  icon="pi pi-pencil"
  class="p-button-rounded p-button-primary p-button-sm"
></button>
<p-dialog
  header="Folder Update"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '50vw', height: '40vh' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <form [formGroup]="folderForm" *ngIf="folderForm">
    <div class="mb-3">
      <label for="name">Folder Name</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-folder"></i></span>
        <input
          type="text"
          [(ngModel)]="folder.name"
          formControlName="name"
          pInputText
          placeholder="Folder name"
        />
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      type="button"
      label="Save"
      icon="pi pi-save"
      (click)="update()"
      class="p-button p-button-primary p-button-sm"
    ></button>
  </ng-template>
</p-dialog>
